#dark-mode {
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid var(--border-color);
}

.dark #dark-mode {
  background-color: var(--border-color);
  opacity: 0.9;
  border: 1px solid #3f3f4666;
}
